.progress-bar-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 200  ;
  width: 800px;
  height: 20px;
  background-color: #dddddd5b;
  border-radius: 20px;
  margin-top: -30px;
  margin-bottom: 100px;
  position: relative; // Voeg position: relative toe aan de container



.progress-bar {
  height: 100%;
  border-radius: 20px;
  background-color: #4caf50; /* Groene kleur voor gevulde voortgang */
  transition: width 1s ease; /* Voeg een soepele overgang toe aan de breedte */
  
  .progress-text {
    position: absolute;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(72, 72, 72);
  }
}

    // Responsive font size
    @media (max-width: 480px) {
      width: 300px;
      font-size: 14px;
    }

    @media (min-width: 481px) and (max-width: 768px) {
      font-size: 22px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      font-size: 26px;
    }

    @media (min-width: 1025px) and (max-width: 1200px) {
      font-size: 28px;
    }

    @media (min-width: 1201px) {
      font-size: 30px;
    }
  }
  